<h1>Find Similar Texts</h1>

<p>Using any text file, you can search for similar books from the past.</p>

<h1>Rank Texts</h1>

<p>Rank them by similarity</p>

<h1>Detect Chiasmus</h1>

<p>Automatically look for patterns like Chiasmus</p>

<p>etc.</p>
