/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

.button, .button:visited {
  background-color: darkgray;
  /*float: left;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
  margin-right: 5px;
  border: 1px solid #777;
}
.button:hover {
  text-decoration: none;
  background-color: black;
}

.button-bar {
  margin: 1em 0;
}